<h1>All about dogs</h1>
  <nav>
    <a href='/me'>Learn about me</a>
    <a href='/'>About cats</a>
    <a href='/family'>About my family</a>
  </nav>
<br clear="all" />
    <div class="photo">
      <img src="/images/musicdog.jpg" alt="Dog jamming out to music" />
    </div>
    <div class="photo">
      <img src="/images/saycheesedog.jpeg" alt="Funny picture of a dog with the wind blowing in his face" />
    </div>
    <div class="three-col">
  <p>
    The domestic dog (Canis lupus familiaris) is the 18-31,000 year old descendant of a now extinct European Wolf, and a member of the Canidae family of the mammalian order Carnivora.
    The term "domestic dog" is generally used for both domesticated and feral varieties.
    The dog was the first domesticated animal and has been the most widely kept working, hunting, and pet animal in human history.
    The word "dog" can also refer to the male of a canine species, as opposed to the word "bitch" which refers to the female of the species.
  </p>
</div>
