<h1>All about my Family</h1>
<a href='/me'>Learn about me</a>
<a href='/'>About cats</a>
<a href='/dogs'>About dogs</a>
<br clear="all" />
<div class="photo">
  <img src="images/family1.jpg" alt="A picture of my family" />
</div>
<div class="photo">
  <img src="images/family2.jpg" alt="A picture of me and my sisters" />
</div>
