<h1>All about me</h1>
  <a href='/'>Learn about cats</a>
  <a href='/family'>About my family</a>
  <a href='/dogs'>About dogs</a>
  <br clear="all" />
<div class="photo">
  <img src="images/tweetled.jpg" alt="Me and my friend dressed up as tweedle dee and tweedle dumb" />
</div>
<div class="photo">
  <img src="images/theboys.jpg" alt="Me and my friends" />
</div>
